@media (max-width: 1440px) {
    .imagem-interactive {
        width: 100%;
    }
    .content-titile {
        height: 250px;
        top: 50%;
        right: 10%;
    }
    .content-titile .about-title {
      font-size: 22px;
    }
    .content-titile .description {
      font-size: 12px;
    }
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      gap: 10px;
    }
    .home .title {
      margin: 0;
    }

    .header .soon {
      align-self: center;
    }
   
    .about {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .content-titile {
      position: static;
      width: 100%;
      padding: 32px;
    }
    .projects-title {
      font-size: 50px;
    }
  
    .content-titile .description {
      font-size: 15px; 
    }
  }
  
  @media (max-width: 425px) {
    .header {
      flex-direction: column;
      margin: 15px 0;
    }

    .header .menu {
       display: block;
    }
    .header .menu li {
      padding: 8px;
    }
    .home {
      padding: 20px 30px;
      align-items: center;
    }

    .home .title {
       font-size: 38px;
       padding: 20px;
       width: 300px;
    }

    .header .soon {
      padding: 8px 0;
    }

    .header .menu li a {
      padding: 15px 6px;
    }

    .about {
      padding: 30px;
    }
    
    .projects {
      grid: "projects-title" 
            "projects-containers"
              "projects-btn" ;
    } 
    .projects-btn, .projects-title {
          margin: auto;
    }
  
    .contact {
      flex-direction: column;
    }
    .main-contact, .second-contact {
       text-align: center;
       gap: 15px;
    }
    .contact-list {
      flex-direction: column;
    }
    .contact-list p {
      padding: 10px 5px 8px 0;
      font-size: 20px;
    }
  }
  
  @media (max-width: 375px) {
    .projects-text {
      top: 60%;
      width: 100%;
      padding: 10px;
    }
  }