@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
body {
  max-width: 2560px;
  margin: 0 auto;
}
.fixed {
  width: 100%;
  position: fixed;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.fixed .soon {
  font-family: "Alata", sans-serif;
  font-size: 32px;
  font-weight: 900;
  color: var(--branco);
  align-self: flex-start;
}
.fixed .menu {
  display: flex;
  align-items: center;
}
.fixed .menu li a {
  padding: 15px 15px;
  color: var(--branco);
  transition: 0.2s ease-in;
}
.fixed .menu li a:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--branco);
}
.home {
  background-image: url(../images/desktop/image-hero.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  min-height: 700px;
  min-width: 550px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 25px;
}
.home .title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  line-height: 65px;
  font-size: 50px;
  width: 500px;
  margin-left: 90px;
  padding: 40px;
  text-transform: uppercase;
  color: var(--branco);
  border: 2px solid var(--branco);
}
.about  {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.content-about {
  padding: 40px;
}

.content-titile {
  height: 270px;
  width: 660px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--branco);
  position: relative;
  top: 0;
  bottom: 5%;
  right: 10%;
}
.content-titile .about-title {
  font-family: "Alata", sans-serif;
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 40px;
  margin-bottom: 20px;
  color: var(--preto);
}
.content-titile .description {
  color: var(--preto-cinza);
  line-height: 30px;
  font-size: 20px;
}

.projects {
  display: grid;
  grid-template-areas: "projects" "projects" "projects" "projects";
  grid-template-columns: 3fr;
  grid-template-rows: repeat(1, 1fr);
  grid-area: projects;
}
.interaction-projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.projects-title {
  font-family: "Josefin Sans", sans-serif;
  color: var(--preto);
  font-size: 40px;
  font-weight: 300;
}
.projects-btn {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--branco);
  font-weight: 500;
  width: 150px;
  border: 1px solid var(--preto);
  padding: 12px 12px;
  transition: 0.3s ease-in-out;
}
.projects-btn:hover {
  color: var(--branco);
  background-color: var(--preto);
  border: 1px solid var(--branco);
}
.projects-containers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.project-container {
  padding: 15px;
  transition: 0.3s ease-in-out;
  filter: grayscale(0%);
}
.project-container:hover {
  filter: grayscale(100%);
}
.projects-text {
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  letter-spacing: 3px;
  line-height: 35px;
  font-weight: 400;
  font-size: 34px;
  width: 20px;
  top: 70%;
  left: 15%;
  color: var(--branco);
  transition: 0.3s ease-in-out;
}
.projects-text:hover {
  transform: scale(1.1);
}
.contact {
  background-color: var(--preto);
  color: var(--branco);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-contact {
  padding: 50px;
}
.contact-list {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.contact-list p {
  padding: 5px 5px 0 0;
}
.second-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.second-list svg {
  margin: 15px 15px 4px 15px;
  transition: 0.2s ease-in-out;
}
.second-list:hover {
  cursor: pointer;
  font-weight: 400;
  border-radius: 10px;
}
.contact-description {
  padding: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: var(--preto);
  color: var(--branco);
}

@media (max-width: 1440px) {
  .imagem-interactive {
      width: 500px;
  }

  .content-titile {
    padding: 25px;
  }
  .content-titile .about-title {
    font-size: 25px;
  }

  .content-titile .description {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .home {
    justify-content: center;
  }
  .home .title {
    margin: 0;
  }
  .projects {
    grid-template-columns: repeat(1, 1fr);

  }
  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content-titile {
    width: 500px;
    height: 250px;
    right: 0;
  }
  .projects-title {
    font-size: 50px;
  }

  .content-titile .description {
    font-size: 15px; 
  }
}

@media (max-width: 425px) {
  .home {
    justify-content: center;
  }

  .home .title {
    margin-left: 60px;
  }
  .contact {
    flex-direction: column;
    width: 600px;
  }

  .main-contact, .second-contact {
     text-align: center;
     gap: 15px;
  }

  .contact-list {
    flex-direction: column;
  }
  .contact-list p {
    padding: 10px 5px 8px 0;
    font-size: 20px;
  }
}